.tr-item {
    background-color: #f6f6f6;
    border: 1px solid #dee2e6;
    box-shadow: 0 0 3px #e5e5e5;
}


.td-item {
    padding: 10px 8px;
}

.item-table-field {
    align-items: center;
    display: inline-flex;
    font-size: inherit;
    font-weight: 400;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
}

.img-table-item-block {
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.img-table-item {
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.name-table-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    margin-left: 10px;
    gap: 5px;
}

.role-title {
    color: #888;
    display: block;
    font-size: 12px;
}


.td-item-action {
    padding: 10px 8px;
    position: relative;
}   

.menu-edit-delete-user-table-view {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 5px;
    width: 120px;
    height: 80px;
    position: absolute;
    justify-content: center;
    /* left: -100px; */
    align-items: center;
}